pinecone-client                   
pinecone-plugin-inference           
openai                           
streamlit                         
grpc-gateway-protoc-gen-openapiv2 
grpcio                            
grpcio-tools                      
protobuf==3.19.0                       
python-dotenv                    
groq
