pinecone-client                   
openai                         
streamlit                        
python-dotenv                  
groq                           
google-api-python-client
gcloud
protoc_gen_openapiv2
